.content1 img {
    float: left;
    background-repeat: none;
}

.content1 {
    background-color: cyan;
}

.content1 img {
    width: 490px;
    height: 401px;
}

.content1 .btn {
    width: 100px;
    height: 30px;
}