.header {
    background-image: url("img/gambar1.png");
    height: 1000px;
    width: 100%;
}

.header p i {
    width : 1300px;
    height: 100px;
    margin-top: -100px;
    text-align: right;
    margin-bottom: 300px;
    color: white;
}

.header ul {
    color: steelblue;
    margin-bottom: -30px;
}

.header h1 {
    text-align: center;
    color: ivory;
}

.header .text {
    text-align: center;
    color: ivory;
}

.header button {
	margin-top: 10px;
	margin-left: 630px;
}
.content1 img {
    float: left;
    background-repeat: none;
}

.content1 {
    background-color: cyan;
}

.content1 img {
    width: 490px;
    height: 401px;
}

.content1 .btn {
    width: 100px;
    height: 30px;
}